<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtworks.karthikintern.reminderapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Thulasi"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".Auth"
            android:label="Thulasi" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PresView"
            android:label="@string/title_activity_view_pres" >
        </activity>
        <activity android:name=".MedTime"></activity>
        <activity android:name=".StockLow"></activity>

        <activity android:name=".NotifResult"
            android:label="Result Activity"
            android:parentActivityName=".ProfileActivity">
        </activity>
        <receiver android:name=".RecvAlarm"></receiver>
        <receiver android:name=".BootReciever" android:enabled="false">
            <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"></action> </intent-filter>
        </receiver>
        <service android:name=".MedStockScheduler"/>

    </application>
</manifest>
